<input type="hidden" name="_csrf" value="<%= token %>">

<main id="root" class="main"></main>

<script type="text/javascript" src="/dist/vendor.4194e9b3c7f0a382f553.js"></script><script type="text/javascript" src="/dist/app.4194e9b3c7f0a382f553.js"></script>