<input type="hidden" name="_csrf" value="<%= token %>">

<main id="root" class="main"></main>

<script type="text/javascript" src="/dist/vendor.a01384f47afddcfbafac.js"></script><script type="text/javascript" src="/dist/app.a01384f47afddcfbafac.js"></script>