<input type="hidden" name="_csrf" value="<%= token %>">

<main id="root" class="main"></main>

<script type="text/javascript" src="/dist/vendor.03f6c54e13771ad97e5b.js"></script><script type="text/javascript" src="/dist/app.03f6c54e13771ad97e5b.js"></script>