<input type="hidden" name="_csrf" value="<%= token %>">

<main id="root" class="main"></main>

<script type="text/javascript" src="/dist/vendor.c2cc939093f2559d8dd2.js"></script><script type="text/javascript" src="/dist/app.c2cc939093f2559d8dd2.js"></script>