<input type="hidden" name="_csrf" value="<%= token %>">

<main id="root" class="main"></main>

<script type="text/javascript" src="/dist/vendor.1d591da6d4f2c12096ce.js"></script><script type="text/javascript" src="/dist/app.1d591da6d4f2c12096ce.js"></script>