<input type="hidden" name="_csrf" value="<%= token %>">

<main id="root" class="main"></main>

<script type="text/javascript" src="/dist/vendor.682f37306e43f437085b.js"></script><script type="text/javascript" src="/dist/app.682f37306e43f437085b.js"></script>