<input type="hidden" name="_csrf" value="<%= token %>">

<main id="root" class="main"></main>

<script type="text/javascript" src="/dist/vendor.89c56d81f42ffe7c7af2.js"></script><script type="text/javascript" src="/dist/app.89c56d81f42ffe7c7af2.js"></script>