<input type="hidden" name="_csrf" value="<%= token %>">

<main id="root" class="main"></main>

<script type="text/javascript" src="/dist/vendor.4cec7d7455e1716c0afb.js"></script><script type="text/javascript" src="/dist/app.4cec7d7455e1716c0afb.js"></script>