<input type="hidden" name="_csrf" value="<%= token %>">

<main id="root" class="main"></main>

<script type="text/javascript" src="/dist/vendor.6b161bc89e840dec1d9c.js"></script><script type="text/javascript" src="/dist/app.6b161bc89e840dec1d9c.js"></script>