<input type="hidden" name="_csrf" value="<%= token %>">

<main id="root" class="main"></main>

<script type="text/javascript" src="/dist/vendor.a71aff28167402666d15.js"></script><script type="text/javascript" src="/dist/app.a71aff28167402666d15.js"></script>