<input type="hidden" name="_csrf" value="<%= token %>">

<main id="root" class="main"></main>

<script type="text/javascript" src="/dist/vendor.b2c22a4c506ec208d1a7.js"></script><script type="text/javascript" src="/dist/app.b2c22a4c506ec208d1a7.js"></script>