<input type="hidden" name="_csrf" value="<%= token %>">

<main id="root" class="main"></main>

<script type="text/javascript" src="/dist/vendor.52cc3b449207e442fd67.js"></script><script type="text/javascript" src="/dist/app.52cc3b449207e442fd67.js"></script>