<input type="hidden" name="_csrf" value="<%= token %>">

<main id="root" class="main"></main>

<script type="text/javascript" src="/dist/vendor.6659894c0eca87e8293c.js"></script><script type="text/javascript" src="/dist/app.6659894c0eca87e8293c.js"></script>