<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
</head>
<link rel="stylesheet" type="text/css" href="node_modules/bootstrap/dist/css/bootstrap.css">
<link rel="stylesheet" type="text/css" href="node_modules/bootstrap/dist/css/bootstrap-theme.css">
<link rel="stylesheet" type="text/css" href="src/styles/normalize.css">
<link rel="stylesheet" type="text/css" href="src/styles/index.css">

<body class="body">
    <div class="viewport">
        <header class="header cf">
            <h1>
                <a href="/" class="logo ir">Share Money</a>
            </h1>
            <div class="user">
                <% if (isAuthenticated) { %>
                <%- partial('partials/user-loggedin') %>
                <% } else { %>
                <%- partial('partials/user-loggedout') %>
                <% } %>
            </div>
        </header>
        <main class="main">
            <%- body %>
        </main>

        
    </div>
    <footer class="footer">

    </footer>
</body>

</html>