<!DOCTYPE html>
<html style="height:100%">

<head>
    <title>
        <%= title %>
    </title>
</head>
<link rel="stylesheet" type="text/css" href="node_modules/bootstrap/dist/css/bootstrap.css">
<link rel="stylesheet" type="text/css" href="node_modules/bootstrap/dist/css/bootstrap-theme.css">
<link rel="stylesheet" type="text/css" href="src/styles/index.css">

<body style="height:100%;background-color: #eceef2; max-width: 1200px;">
    <div class="myFullWidth myFullHeight">
        <div class="myHead">
            <h1 style="font-weight: bold; color: chocolate;font-family: 'Times New Roman', Times, serif;" class="pull-left">Share Money</h1>
            <div style="margin: 10px 10% 0 0" class="pull-right">
                <% if (isAuthenticated) { %>
                <%- partial('partials/user-loggedin') %>
                <% } else { %>
                <%- partial('partials/user-loggedout') %>
                <% } %>
            </div>
        </div>
        <div class="myBody">
            <%- body %>
        </div>
    </div>
</body>

</html>