/* Application specific CSS */
.color_orange_background {
 background-color: #ffa032;
}
.color_orange {
  color: #ffa032;
}
#root{
  position: absolute;
  top: 0;
  bottom: 0;
  width:100%;
  box-sizing: border-box;
}
.myBody{
  position: absolute;
  top: 0;
  bottom: 0;
  margin-top: 60px;
  width:100%;
  box-sizing: border-box;
}
.myHead{
  height: 55px;
  background-color: white;
  width:100%;
}
.myFullWidth{
  width: 100%;
  box-sizing: border-box;
  padding-left: 0;
  padding-right: 0;
  margin-left: 0;
  margin-right: 0;
}
.myFullHeight{
  height: 100%;
  box-sizing: border-box;
  padding-top: 0;
  padding-bottom: 0;
  margin-top:0;
  margin-bottom: 0;
}
.onlyBottemBorderRadus {
  border-top-left-radius: 0 !important;
  border-top-right-radius: 0 !important;
  border-bottom-left-radius: 6px !important;
  border-bottom-right-radius: 6px !important;
}
.onlyTopBorderRadus {
  border-top-left-radius: 6px !important;
  border-top-right-radius: 6px !important;
  border-bottom-left-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}

.usersChatDiv{
  width: 20%;
  float: left;
}

.historyDiv{
  width: 80%;
  float: left;
}




.message-containerDiv-me{
  width: 80%;
  margin-right: auto;
  margin: 10px auto 3px 0;
}
.message-containerDiv-other{
  width: 80%;
  margin: 10px auto 3px;
}
.message-title-me{
  direction: rtl;
}
.message-containerDiv-other{
  direction: rtl;
}
.message-who{
  float: left;
  margin-right: 10px;
}
.message-date{
  float: left;
  direction: ltr;
}

.message-whatDiv-me{
  clear: both;
  border: solid 2px #999;
  border-radius: 5px;
  background-color: #ebebeb;
  padding: 10px;
}
.message-whatDiv-other{
  clear: both;
  border: solid 2px #999;
  border-radius: 5px;
  background-color: #f7f7f7;
  padding: 10px;
}
.message-what{
  display: block;
  direction: rtl;
  text-align: left;
}

.chatRoomUser{
  padding: 10px;
  border: solid #aaaaaa;
  border-width: 1px 0;
  margin: 5px;
  cursor: pointer;
}

/* clearfix */ 
.grouping:before, 
.grouping:after { 
  content: " "; 
  display: table;  
} 
.grouping:after { 
  clear: both; 
}


/*  first page */
.appNav{
  display: inline-block;
  width: 10%;
  height: 100%;
  vertical-align: top;
  background-color: #1E262D;
}
.appPage-homeLink{
  border-left: solid 4px #FF6A00;
  color: #fff;
  background: #3B4248;
  display: block;
  padding: 5px;
  text-align: center;
}
.navLink{
  color: #fff;
  display: block;
  padding: 5px;
  text-align: center;
}
.requestContainer{
  display: inline-block;
  width: 90%;
  height: 100%;
}
.inputContainer{
  margin: auto;
  clear: both;
  text-align: center;
}
.amountDiv, .currencyDiv, .countryDiv, .changeDiv{
  display: inline-block;
  vertical-align: top;
}
.search-type {
  left: 0;
  width: 110px;
  background: #fff;
  overflow: hidden;
  border-radius: 5px 0 0 5px;
  height: 70px;
  border: 1px solid #ccc;
  display: inline-block;
}

.search-type input {
  position: absolute;
  left: -999em;
}
input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

.search-type input:checked + label {
  color: #fff;
  background: #1b95db;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
}
.search-type label {
  display: block;
  margin: 5px 5px 0;
  padding: 1px 0 0;
  color: #1b95db;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  text-align: center;
  cursor: pointer;
  border-radius: 3px;
}




/*----*/
.fullWidth {
  width: 100% !important;
}

.message-container {
  height: 100vh;
  flex-direction: column;
}

.message-container, .message-form {
  display: flex;
}

.message-form {
  flex: 1;
  max-height: 50px;
  background-color: white !important;
  margin: 10px;
}

.message-list {
  flex: 1;
  overflow: auto;
  margin-top: 0;
  margin-bottom: 0;
  list-style: none;
  padding: 0 10% 0 0;
}

.message-form .input-field input {
  border-color: #FFFFFF;
}

.chip {
  font-style: italic;
}

.mdi-communication-chat {
  color: white;
}

.collection .collection-item:last-child {
  border-bottom: 0.1em solid #DCDCDC;
}

/* -------- Online user list ---------- */

.online-user-list, .online-user-list ul {
  display: flex;
}

.online-user-list {
  margin: 0;
  height: 68px;
  background-color: #009688 !important;
}

.online-user-list ul {
  flex: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  margin: 5px;
}

.online-user-list li{
  display: inline-block;
}

.online-user-list img{
  margin: 4px;
  width: 50px;
}

.online-users-number{
  color: white;
  margin-left: 10px;
  margin-right: 10px;
}

.online-users-number i{
  font-size: 50px;
  padding-right: 10px;
}

/* -------- User Typing indicator ---------- */

.typing-indicator-box {
  flex: 1;
  margin:0;
  max-height:45px;
  background-color: #A2C4C9;
}

.typing-indicator-box ul {
  flex: 1;
  flex-direction: row;
  overflow-x:auto;
  flex-wrap: nowrap;
  margin:0;
}

.typing-indicator-box img{
  padding:4px;
  width:45px;
}

.typing-indicator-box li{
  display: inline-block;
}

.typing-indicator {
  background-color: #E6E7ED;
  width: auto;
  border-radius: 33px;
  padding: 10px;
  display: inline-block;
  margin: 0 auto;
  margin-top:5px;
  position: relative;
  top: -10px;
  -webkit-animation: 2s bulge infinite ease-out;
          animation: 2s bulge infinite ease-out;
}
.typing-indicator:before, .typing-indicator:after {
  content: '';
  position: absolute;
  bottom: -2px;
  left: -2px;
  height: 10px;
  width: 10px;
  border-radius: 40%;
  background-color: #E6E7ED;
}
.typing-indicator:after {
  height: 5px;
  width: 5px;
  left: -5px;
  bottom: -5px;
}
.typing-indicator span {
  height: 6px;
  width: 6px;
  float: left;
  margin: 0 1px;
  background-color: #9E9EA1;
  display: block;
  border-radius: 50%;
  opacity: 0.4;
}
.typing-indicator span:nth-of-type(1) {
  -webkit-animation: 1s blink infinite 0.3333s;
          animation: 1s blink infinite 0.3333s;
}
.typing-indicator span:nth-of-type(2) {
  -webkit-animation: 1s blink infinite 0.6666s;
          animation: 1s blink infinite 0.6666s;
}
.typing-indicator span:nth-of-type(3) {
  -webkit-animation: 1s blink infinite 0.9999s;
          animation: 1s blink infinite 0.9999s;
}

@-webkit-keyframes blink {
  50% {
    opacity: 1;
  }
}

@keyframes blink {
  50% {
    opacity: 1;
  }
}
@-webkit-keyframes bulge {
  50% {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
}
@keyframes bulge {
  50% {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
}

